
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ColoradoFun</title>

  <!-- CSS -->
  <link href="<%= "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- Javascript -->
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>
  <div class="container">
    <header class="header" id="header"></header>
    <span class="ad_area" id="ad_area1"></span>
    <a href="/map">Back to Search Results</a>
    <div id='title'></div>
    <div id="info" style="float:left"></div>
    <span class="ad_area" id="ad_area2"></span>
    <footer class="footer" id="footer"></footer>
  </div> <!-- CONTAINER -->
  <!-- JAVASCRIPT -->
  <script src="/scripts/template.js"></script>
  <script>

Date.prototype.monthNames = [
"Jan", "Feb", "Mar",
"Apr", "May", "Jun",
"Jul", "Aug", "Sep",
"Oct", "Nov", "Dec"
];

Date.prototype.getMonthName = function() {
    return this.monthNames[this.getMonth()];
};


    var events = <%- JSON.stringify(events) %>;
    events.map(function(item,i){
      item['date']['S'] = new Date(item['date']['S']);
      document.getElementById('title').innerHTML += '<container>'+
      '<h3>'+item['title']['S']+' - '+item['date']['S'].getMonthName()+
        ', '+item['date']['S'].getDate()+'</h3>'+
      '<p>'+item['description']['S']+'   '+
      '<span><a href='+item['link']['S']+'>View source info'+
      '</a></span></p><br>'+
      '</container>';
    });
  </script>
  <!-- JAVASCRIPT -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2bgQRRNuFlC9XV0G0k0svzyzpvg6QBHs&callback=initMap">
  </script>
</body>
</html>